In [1]:
import pandas as pd
path = r'C:\IDE\python_homework\Пайтон для анализа данных\Модуль 5. Продвинутые приемы Pandas\data\ratings_movies.csv'
rating_movies = pd.read_csv(path)
rating_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [ ]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
    
year = rating_movies['title'].apply(get_year_release)

In [21]:
rating_movies['year_release'] = year

release_1999 = rating_movies[rating_movies['year_release'] == 1999]

release_1999.groupby(by='title')['rating'].mean(numeric_only=True).sort_values(ascending=False)

title
Sun Alley (Sonnenallee) (1999)           5.0
Trailer Park Boys (1999)                 5.0
Siam Sunset (1999)                       5.0
Five Senses, The (1999)                  5.0
Mickey's Once Upon a Christmas (1999)    5.0
                                        ...
Chill Factor (1999)                      1.0
Source, The (1999)                       1.0
Simon Sez (1999)                         1.0
Trippin' (1999)                          1.0
Bloodsport: The Dark Kumite (1999)       0.5
Name: rating, Length: 261, dtype: float64

In [24]:
rating_movies

release_2010 = rating_movies[rating_movies['year_release'] == 2010]

release_2010.groupby(by='genres')['rating'].mean(numeric_only=True).sort_values(ascending=False)

genres
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Comedy|Musical                       5.000000
Crime                                4.750000
                                       ...
Adventure|Comedy|Fantasy             1.833333
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Action|Sci-Fi                        1.000000
Name: rating, Length: 119, dtype: float64

In [36]:
user_genres = rating_movies.groupby(by='userId')['genres'].nunique().sort_values(ascending=False)#.mean(numeric_only=True).sort_values(ascending=False)

user_genres

userId
599    524
414    482
448    403
380    399
474    395
      ...
494     15
578     15
214     13
85      13
245     13
Name: genres, Length: 610, dtype: int64

In [ ]:
user_rate = rating_movies.groupby(by='userId')['rating'].agg('describe').sort_values(by=['count', 'mean'], ascending=[True, False])

user_rate

         count      mean       std  min   25%  50%    75%  max
userId
53        20.0  5.000000  0.000000  5.0  5.00  5.0  5.000  5.0
595       20.0  4.200000  0.833509  2.0  4.00  4.0  5.000  5.0
189       20.0  4.100000  0.347926  3.5  4.00  4.0  4.125  5.0
569       20.0  4.000000  0.725476  3.0  3.75  4.0  4.250  5.0
278       20.0  3.875000  0.985086  1.5  3.00  4.0  4.625  5.0
...        ...       ...       ...  ...   ...  ...    ...  ...
274     1346.0  3.235884  0.761703  0.5  3.00  3.5  3.500  5.0
448     1864.0  2.847371  1.029706  0.5  2.00  3.0  3.500  5.0
474     2108.0  3.398956  0.830847  0.5  3.00  3.5  4.000  5.0
599     2478.0  2.642050  0.815300  0.5  2.00  2.5  3.000  5.0
414     2698.0  3.391957  0.933307  0.5  3.00  3.5  4.000  5.0

[610 rows x 8 columns]

In [47]:
rating_movies

release_2018 = rating_movies[rating_movies['year_release'] == 2018]

release_2018 = release_2018.groupby(by='genres')['rating'].agg('describe').sort_values(by='mean', ascending=False)#.mean(numeric_only=True).sort_values(ascending=False)

release_2018[release_2018['count'] > 10]

,count,mean,std,min,25%,50%,75%,max
genres,,,,,,,,
Action|Adventure|Sci-Fi,14.0,3.928571,1.141139,1.5,3.250,4.25,4.875,5.0
Action|Comedy|Sci-Fi,12.0,3.875000,1.227062,1.0,3.375,4.00,5.000,5.0

In [53]:

rating_movies['date'] = pd.to_datetime(rating_movies['date'])

year_rating = rating_movies['date'].dt.year

rating_movies['year_rating'] = year_rating

rating_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release,year_rating
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,2000
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0,2000
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0,2000
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0,2000
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0,2000
...,...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0,2017
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0,2017
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0,2017
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0,2017
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0,2017

In [79]:


x = rating_movies.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc='mean',
    fill_value=0
).round(2)

x

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
year_rating,,,,,,,,,,,,,,,,,,,,,
1996,0.00,2.73,3.45,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.0,0.00,0.00,2.67,0.00,3.84,0.0,3.12
1997,0.00,3.54,4.15,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.0,0.00,0.00,3.40,0.00,3.92,0.0,3.00
1998,0.00,0.00,4.20,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.0,0.00,0.00,0.00,0.00,3.80,0.0,0.00
1999,0.00,0.00,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,2.00,0.0,0.0,0.00,0.00,4.00,0.00,3.70,4.5,4.00
2000,0.00,2.59,3.74,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,4.00,0.0,3.0,3.42,0.00,2.14,0.00,3.09,3.0,4.06
2001,0.00,3.00,3.50,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,3.0,2.50,0.00,2.50,0.00,3.48,3.0,3.11
2002,0.00,2.75,4.30,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,3.00,0.0,0.0,3.75,0.00,3.60,0.00,3.58,3.5,3.00
2003,0.00,3.83,3.28,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,3.38,2.5,0.0,2.33,0.00,3.14,0.00,3.25,3.0,4.00
2004,0.00,2.70,4.14,0.00,0.00,4.00,0.00,0.00,0.00,0.0,...,3.00,3.0,3.5,2.12,0.00,0.00,0.00,3.46,3.0,3.80
2005,0.00,3.36,3.41,0.00,0.00,4.11,0.00,0.00,0.00,0.0,...,2.00,0.0,0.0,3.00,0.00,2.75,0.00,3.41,0.0,4.50
2006,0.00,2.17,4.09,0.00,0.00,3.83,0.00,0.00,0.00,3.0,...,0.00,0.0,0.0,0.50,0.00,4.50,0.00,3.74,0.0,3.62
2007,0.00,2.58,3.67,0.00,0.00,3.85,3.00,0.00,0.00,2.8,...,1.50,0.0,2.5,3.38,0.00,2.83,0.00,3.42,0.0,3.00
2008,0.00,3.00,3.66,0.00,0.00,4.12,4.00,0.00,0.00,3.5,...,0.00,0.0,0.0,3.12,0.00,3.00,0.00,3.33,0.0,4.00
2009,0.00,0.00,3.71,0.00,0.00,3.90,0.00,3.25,0.00,2.5,...,0.00,0.0,0.0,2.00,0.00,4.00,0.00,2.96,4.0,3.38
2010,0.00,3.50,3.44,0.00,0.00,4.33,0.00,3.50,3.00,0.0,...,0.00,0.0,0.0,4.00,0.00,2.50,0.00,2.83,0.0,3.67
2011,0.00,4.50,3.89,0.00,0.00,3.50,0.00,0.00,0.00,4.0,...,0.00,0.0,0.0,3.50,0.00,1.83,4.00,3.62,0.0,4.00
2012,0.00,2.62,3.90,0.00,4.00,3.79,0.00,3.55,4.00,0.0,...,2.50,0.0,0.0,4.17,0.00,3.50,3.67,3.08,0.0,4.10
2013,0.00,2.50,3.83,0.00,3.00,4.33,0.00,5.00,0.00,0.0,...,0.00,0.0,0.0,1.50,0.00,3.83,4.00,3.67,0.0,4.00
2014,0.00,0.00,3.88,3.00,3.50,3.25,3.83,3.50,4.00,0.0,...,0.00,0.0,0.0,2.50,5.00,0.00,4.00,4.00,0.0,4.00
2015,0.50,3.10,3.56,3.80,3.67,3.57,3.83,3.38,2.33,2.5,...,0.00,0.0,0.0,2.90,4.07,3.76,4.00,2.91,0.0,3.90
2016,3.50,3.55,3.72,3.75,3.83,3.92,3.39,3.67,1.00,4.0,...,2.50,0.0,0.0,3.56,3.81,3.92,3.67,3.43,0.0,3.96
2017,3.00,2.64,3.53,3.38,3.50,3.68,3.70,1.00,1.00,2.0,...,3.00,0.0,0.0,3.86,4.26,3.75,2.50,3.15,0.0,2.93
2018,3.68,2.59,3.40,3.65,3.17,3.74,4.14,3.70,2.50,4.0,...,0.00,0.0,0.0,3.13,3.50,3.56,0.00,3.30,0.0,3.61